[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "warn"
yanked = "warn"
notice = "warn"
ignore = [
    # Ignoring issues related to `localtime_r` for now
    # See https://github.com/kube-rs/kube-rs/issues/650
    #
    # Potential segfault in the `time` crate
    # Tracking issue: https://github.com/kube-rs/kube-rs/issues/656
    # PR to update `time`: https://github.com/chronotope/chrono/pull/578
    "RUSTSEC-2020-0071",
    # Potential segfault in `localtime_r` invocations
    # Tracking issue: https://github.com/kube-rs/kube-rs/issues/660
    # Upstream issue: https://github.com/chronotope/chrono/issues/499
    "RUSTSEC-2020-0159",
]


[licenses]
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.11 short identifier (+ optional exception)].

confidence-threshold = 1.0
copyleft = "deny"
default = "deny"
unlicensed = "deny"

# We are beholden to https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-3-Clause",
    "ISC",
    "LicenseRef-ring",
    "LicenseRef-webpki"
]


[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[[licenses.clarify]]
name = "webpki"
expression = "LicenseRef-webpki"
license-files = [
    { path = "LICENSE", hash = 0x001c7e6c },
]


[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[bans]
multiple-versions = "deny"
skip = [
    # warp uses an older version of rustls (warp is only used in the examples)
    { name = "rustls", version = "=0.19.1" },
    { name = "webpki", version = "=0.21.4" },
    { name = "tokio-rustls", version = "=0.22.0" },
    { name = "sct", version = "=0.6.1" },
    # http has not released a version using itoa v1
    { name = "itoa", version = "^0.4" },
]
