name: clippy
on:
  pull_request:
    paths:
      - '**.rs'
      - '**.toml'
      - '**.yml'

jobs:
  clippy_nightly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          args: "--workspace"
          token: ${{ secrets.GITHUB_TOKEN }}
