name: Coverage

on:
  push:
    #branches:
    #  - master

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: AbsaOSS/k3d-action@v2
        name: "Create Single Cluster"
        with:
          cluster-name: "test-cluster-1"
          args: >-
            --agents 1
            --image docker.io/rancher/k3s:v1.22.4-k3s1
            --k3s-arg "--no-deploy=traefik,servicelb,metrics-server@server:*"
      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: '0.18.5'
          out-type: Xml
          timeout: 600
          args: '--workspace --ignored -e examples -e integration --features=runtime,derive,ws,oauth,jsonpatch,admission,k8s-openapi/v1_22 -o Stdout -t 600 -- --test-threads 1'
      - uses: codecov/codecov-action@v2
        with:
          flags: unittests,rust
