name: coverage

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.rs'
      - '**.toml'
      - '**.yml'

jobs:
  tarpaulin-codecov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install tarpaulin
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-tarpaulin@0.28.0
      - uses: AbsaOSS/k3d-action@v2
        name: "Create Single Cluster"
        with:
          cluster-name: "test-cluster-1"
          args: >-
            --image docker.io/rancher/k3s:v1.25.4-k3s1
            -p 10250:10250
            --k3s-arg "--no-deploy=traefik,servicelb,metrics-server@server:*"
      - name: Run cargo-tarpaulin
        run: |
          rustup run stable cargo tarpaulin -o xml --skip-clean
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
