# When pushed to master, run `cargo +nightly fmt --all` and open a PR.
name: rustfmt
on:
  push:
    # Limit to `master` because this action creates a PR
    branches:
      - master
jobs:
  rustfmt_nightly:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain with rustfmt available
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt

      - run: rustfmt +nightly --edition 2018 **/*.rs

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: rustfmt
          title: rustfmt
          body: |
            Changes from `rustfmt +nightly --edition 2018 **/*.rs`.
          branch: rustfmt
          # Delete branch when merged
          delete-branch: true
